body {
    background-color: black;
    background-image: url("../Assets/Illustrations/Bathome1.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.p1 {
    color: white;
    position: absolute;
    right: 10%;
    font-size: 200%;
}

.l1 {
    color: white;
    position: absolute;
    margin-right: 34%;
}

h1 {
    text-align: left;
    color: white;
}

.c1 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.c2 {
    color: white;
    text-align: center;
}

.buttona {
    background: linear-gradient( 90deg, rgba(255, 255, 255, 40%), rgba(255, 0, 0, 40%));
    padding: 10px;
    margin-bottom: 200px;
    margin-left: 25px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.c3 {
    color: white;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c4 {
    color: white;
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 100px;
}

.images1 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.s1 {
    text-align: center;
}

.bat2 {
    display: block;
}

.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: left;
}


/* section nemesis */

.il1 {
    margin-left: 250px;
    margin-top: 50px;
    height: 120px;
    transform: translateY(50px);
}

.n1 {
    margin-left: 150px;
    font-size: 35px;
}

.c4 {
    margin-left: 150px;
    font-size: 20px;
}

.c5 {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


/* section allié */

.n2 {
    margin-left: 150px;
    font-size: 35px;
}

.c6 {
    margin-left: 150px;
    font-size: 20px;
}

.c7 {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap
}

#z1 {
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%);
}


/* section justice league */

.c8 {
    margin-left: 150px;
    font-size: 20px;
}

.c9 {
    margin-left: 150px;
}

.m1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.m2 {
    display: flex;
    flex-direction: row;
}

.m3 {
    font-size: 16px;
}

.m4 {
    margin-right: 15px;
}